.thanksDiv {
    background: linear-gradient(45deg, rgba(42, 80, 202, 0.3), rgba(0, 79, 128, 0.3), rgba(0, 255, 213, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 700px;
    border-radius: 10px;
    padding: 20px;
}

.thanksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
